
@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Thin.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Light.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-LightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-LightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-LightItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Regular.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Extended.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-Oblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Oblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-Italic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Medium.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-SemiBold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Bold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-Heavy.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedCurlySlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaFixedCurlySlab-ExtendedHeavyItalic.ttf') format('truetype');
}
